.section-admin{
    background-color: $color-blue;
    margin-top: $m-6;
    border-radius: 2rem;
    padding: $p-5;
}

.screen{
    background: linear-gradient(90deg, #5D54A4, #7C78B8);	
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;

    &__content{
        z-index: 1;
        position: relative;
        height: 100%;
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);	

        &__shape{
            transform: rotate(45deg);
            position: absolute;
        }

        &__shape1{
            height: 520px;
            width: 520px;
            background: #FFF;
            top: -50px;
            right: 120px;
            border-radius: 0 72px 0 0;
        }

        &__shape2 {
            height: 220px;
            width: 220px;
            background: #6C63AC;	
            top: -172px;
            right: 0;	
            border-radius: 32px;
        }

        &__shape3 {
            height: 540px;
            width: 190px;
            background: linear-gradient(270deg, #5D54A4, #6A679E);
            top: -24px;
            right: 0;	
            border-radius: 32px;
        }

        &__shape4 {
            height: 400px;
            width: 200px;
            background: #7E7BB9;	
            top: 420px;
            right: 50px;	
            border-radius: 60px;
        }
    }
}

.form{
    width: 320px;
    padding: 30px;
    padding-top: 100px;

    &__field{
        padding: 20px 0px;	
        position: relative;
    }

    &__icon{
        position: absolute;
        top: 30px;
        color: #7875B5;
    }
}

.input__name{
    font-weight: $font-w-700;
    border: none;
    border-bottom: solid 2px #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    width: 75%;
    transition: .2s;

    &:active,
    &:focus,
    &:hover{
        outline: none;
        border-bottom-color: #6A679E;
    }
}

.input__password{
    font-weight: $font-w-700;
    border: none;
    border-bottom: solid 2px #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    width: 75%;
    transition: .2s;

    &:active,
    &:focus,
    &:hover{
        outline: none;
        border-bottom-color: #6A679E;
    }
}
